<launch>

    <include file="$(find ur5e_with_task_board)/launch/mujoco.launch" />

    <include file="$(find multiverse_server)/launch/multiverse_server.launch"/>

    <include file="$(find ur5e_with_task_board)/launch/multiverse_client.launch">
        <arg name="delay" value="1" />
    </include>

</launch>