<launch>

    <arg name="headless" default="true" />
    <arg name="server_host" default="tcp://127.0.0.1"/>
    <arg name="server_port" default="7000"/>

    <group if="$(arg headless)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim_headless.launch">
            <arg name="server_host" default="$(arg server_host)"/>
            <arg name="server_port" default="$(arg server_port)"/>
            <arg name="config" value="$(find ur5e_with_task_board)/config/mujoco_params.yaml" />
            <arg name="world" value="$(find work_table)/mjcf/work_table.xml" />
            <arg name="robot" value="$(find ur_description)/urdf/ur5e_with_gripper.urdf" />
            <arg name="disable_parent_child_collision_level" default="1" />
            <arg name="use_urdf" value="true" />
        </include>
    </group>

    <group unless="$(arg headless)">
        <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
            <arg name="server_host" default="$(arg server_host)"/>
            <arg name="server_port" default="$(arg server_port)"/>
            <arg name="config" value="$(find ur5e_with_task_board)/config/mujoco_params.yaml" />
            <arg name="world" value="$(find work_table)/mjcf/work_table.xml" />
            <arg name="robot" value="$(find ur_description)/urdf/ur5e_with_gripper.urdf" />
            <arg name="disable_parent_child_collision_level" default="1" />
            <arg name="use_urdf" value="true" />
        </include>
    </group>

    <param name="task_board_description"
        command="$(find xacro)/xacro '$(find task_board)/urdf/task_board.urdf'" />
    <node pkg="task_board" type="spawn_task_board.py" name="spawn_task_board" output="screen" />

    <rosparam command="load" file="$(find ur5e_with_task_board)/config/ros_control_params.yaml" />
    <node name="controller_manager" pkg="controller_manager" type="controller_manager"
        respawn="false" output="screen"
        args="spawn 
		joint_state_controller 
		joint_trajectory_controller
		gripper_controller" />

</launch>