<launch>

    <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
        <arg name="config" value="$(find tiago_dual_in_apartment)/config/mujoco_params.yaml" />
        <arg name="world" value="$(find iai_apartment)/mjcf/apartment.xml" />
        <arg name="robot" value="$(find tiago_dual_description)/urdf/tiago_dual.urdf" />
        <arg name="disable_parent_child_collision_level" default="3"/>
        <arg name="use_urdf" value="true" />
    </include>

    <include file="$(find tiago_dual_control)/launch/tiago_dual_control.launch" />

    <param name="apartment_description"
        command="$(find xacro)/xacro '$(find iai_apartment)/urdf/apartment.xacro'" />

    <include file="$(find tiago_dual_control)/launch/tiago_dual_move_base.launch">
        <arg name="navigation_map" default="$(find iai_apartment)/map/apartment.yaml" />
    </include>

    <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find tiago_dual_in_apartment)/rviz_config/rviz_config.rviz" />

</launch>